{% extends "base.html" %}

{% block main %}
<div class="grid_12 proposals bottom-padding">
<div class="grid_4 prefix_1 alpha">
  <a href="/static/voorstel-Netwerk_voor_Choreografie_en_Gerelateerde_Kunsten.pdf"><img src="/static/voorstel.png" width="300" height="424" /></a>
</div>
<div class="grid_4 prefix_2 omega">
  <a href="/static/proposal-Network_for_Choreography_and_Related_art.pdf"><img src="/static/proposal-Network_for_Choreography_and_Related_art.png" width="300" height="424" /></a>
</div>
</div>

<div class="grid_12 bottom-padding">
  <div class="grid_8 prefix_2 alpha center">
  <p>Click on a cover to download the proposal we sent to the secretary of state…<br />Based on <a href="/texts/proposal/">an initial proposal</a> signed by {{ count }}.</p>
  </div>
</div>

<div class="grid_12">
<div class="grid_3 alpha">
  <h3><a href="/sign-up">Join</a></h3>
  <div class="deco"></div>
  <p>You can <a href="/sign-up">sign up</a> for the netwerk so you receive updates and interact with this website.<p> <p><a href="/sign-up">Sign up</a>.</p>
</div>
<div class="grid_3">
  <h3><a href="/events/">Events</a></h3>
  <div class="deco"></div>
  <p>Read up on past events, check out what’s coming and learn how to organise your own.</p>
  <p><a href="/events/">Events</a></p>
</div>
<div class="grid_3">
  <h3><a href="http://www.danslab.nl/projects/season-2010-2011/frameactivities/frame-2-network-for-choreography/updates/">Updates</a></h3>
  <div class="deco"></div>
  <p>Information on our communication with the policy makers &amp; others:</p
  <p><a href="http://www.danslab.nl/projects/season-2010-2011/frameactivities/frame-2-network-for-choreography/updates/">Updates</a></p>
</div>
<div class="grid_3 omega">
  <h3><a href="/about">About</a></h3>
  <div class="deco"></div>
  <p>We shape and articulate a concept of a freelance scene for Choreography &amp; Related Arts.</p>
  <p><a href="/about">Read more</a></p>
</div>

</div>
{% endblock %}
