{% extends "base.html" %}

{% block main %}
<p>Fill in you email address and you will be sent a link to reset your password.</p>

<p>To be able to reset your password, you need to be <a href="/sign-up?next={{ request.path }}">signed up</a> for the network.</p>

<form action="{% url django.contrib.auth.views.password_reset %}" method="post" class="registration">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <table>
  {% for field in form %}
      <tr>
        <td>
          {{ field.label_tag }}
          {% if field.field.required %}<span class="required">*</span>{% endif %}
        </td>
        <td>
          {{ field }}
          {{ field.errors }}
        </td>
      </tr>
  {% endfor %}
    </table>
    <input type="submit" value="Reset"/>
</form>
{% endblock %}