{% extends "base.html" %}

{% block main %}
<form action="" method="post" class="registration">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <table>
  {% for field in form %}
      <tr>
        <td>
          {{ field.label_tag }}
          {% if field.field.required %}<span class="required">*</span>{% endif %}
        </td>
        <td>
          {{ field }}
          {{ field.errors }}
        </td>
      </tr>
  {% endfor %}
    </table>
    <input type="submit" value="Confirm"/>
</form>
{% endblock %}